@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #ffffff;
    --secondary-text-color: black;
    --accent-color: white;
    --accent-color-dark: #006e75;
    --padding-inline-section: ;
}

body {
    font-family: "Poppins", sans-serif;
}


h1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}


/* utilities */

.bg-green {
    background-color: var(--accent-color-dark);
}

.flex {
    display: flex;
    align-items: center;
}


.nav-links:hover {
    color: #0b978e;
    transition: 0.2s ease-out
}

.section-box {
    width: 410px;
    background-color: #f5fafe;
    border-radius: 12px;
}


/* header */

.main-nav {
    height: 115px;
    justify-content: center;
}

.nav-elements {
    width: 1440px;
    justify-content: space-between;
    padding: 30px 75px;
}

.logo {
    height: 45px;
}

.nav-menus ul {
    width: 620px;
    list-style: none;
    gap: 20px;
}

.nav-links {
    color: white;
    font-weight: 500;
}

.signLog-in {
    gap: 20px;
}

.signLog-in a {
    font-weight: 500;
    color: var(--primary-text-color);
}

.signLog-in .login-btn {
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    border: var(--primary-text-color) 1px solid;
}

.nav-elements .toggle {
    display: none;
    font-size: 2rem;
    color: white;
    font-weight: 700;
}

/* hero section */

.hero-section {
    width: 100%;
    height: 475px;
    overflow: hidden;
    justify-content: space-between;
}

.hero-section a {
    color: white;
}


.hero-img1 {
    width: 630px;
    justify-content: flex-start;

}

.hero-img2 {
    width: 630px;
    justify-content: flex-end;

}

.hero-img1 img {
    height: 400px;
}

.hero-img2 img {
    height: 400px;

}

.hero-content {
    color: white;
    width: 630px;
    height: 475px;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 40px;
    margin: 20px 0px;
}

.hero-heading {
    width: 300px;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: #0b978e;
    padding: 5px 20px;
    border-radius: 20px;
    justify-content: space-between;
    cursor: pointer;
}

.hero-content h1 {
    font-weight: 600;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero-content h4 {
    font-weight: 500;
    text-align: center;
    max-width: 80%;
}

.hero-content .sign-up-btn {
    color: black;
    font-family: 'roboto';
    font-weight: 500;
    border-radius: 6px;
    padding: 15px 25px;
    background-color: white;
}


/* first Feature section */

.feature-section1 {
    justify-content: center;
}

.feature-heading {
    width: 630px;
    flex-direction: column;
    justify-content: top;
    padding-top: 80px;
}


.feature-heading h1 {
    font-weight: 500;
}

.feature-heading p {
    width: 440px;
    text-align: center;
    padding: 15px 0px;
}

/* features of f-section 1*/

.features-1-parent {
    justify-content: center;
}

.features-1 {
    width: 1440px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.f1-box1 {
    height: 760px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
    margin-top: 80px;
}

.f1-box2,
.f1-box3,
.f1-box4,
.f1-box5 {
    height: 362px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
}

.grouped-box {
    height: 760px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
}


.features-1 img {
    width: 350px;
    margin: 10px 0px;
}

/* cta see overview */

.cta-platform-overview {
    justify-content: center;
}

.cta-platform-overview a {
    color: var(--secondary-text-color);
    padding: 15px 25px;
    border: var(--secondary-text-color) 1px solid;
    border-radius: 6px;
    font-weight: 500;
    margin-block: 60px;
}

/* footer section  */

.cta-try4free {
    justify-content: space-between;
    padding: 80px 0;
    background-color: #fffded;
}

.cta-try4free img {
    width: 400px;
}

.cta-try4free .content {
    width: 600px;
    padding: 100px 0;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.content h4 {
    font-weight: 500;
    padding-block: 15px;
}

.content a {
    color: var(--primary-text-color);
    background-color: #006e75;
    padding: 15px 25px;
    border-radius: 6px;
    margin: 15px 0;
}

.content p {
    font-size: 1rem;

}

.end-logo {
    justify-content: center;
    padding-block: 50px;
}